body {
	margin: 0;
	padding: 0;
	background-image: url('/background.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media (max-width: 768px) {
	body {
		background-image: url('/background-sm.jpg');
	}
}
